<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="WebhookTest - debug your payment gateway integration locally.">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/uni_form/uni-form.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/uni_form/default.uni-form.css" type="text/css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="{{ MEDIA_URL }}js/uni_form/uni-form.jquery.js" type="text/javascript"></script>

    {% block extra_head %}{% endblock %}
    <title>{% block title %}{% endblock %} </title>			
  </head>
  <body>
    <div class="container">
      <div id="header">
	<h1>(<a rel="up" href="/">webhook-test</a>) <i class="quiet" style="font-size:.4em">debug your payment gateway integration locally.</i></h1>
      </div>
      <hr/>
      <div id="content">
	<div class="span-15 prepend-1 colborder">
	  {% block content %}
	  {% endblock %}
	</div>
      </div>
      <div id="sidebar">
	<div class="span-7 last">
	{% block sidebar %}
	{% endblock %}
	</div>
      </div>
    </div>
    <!-- Initialize uni-form -->
    <script type="text/javascript">
      $(function(){ $('form.uniForm').uniform(); });
    </script>
    <!-- END uni-form-->
  </body>
</html>
